name: main
on: [push]
jobs:
  build-and-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Cache composer packages
        uses: actions/cache@v4
        env:
          cache-name: v2-cache-composer-packages
        with:
          path: ./vendor
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('./composer.lock') }}
      - name: Install composer packages
        run: docker run --rm -v $GITHUB_WORKSPACE:/app composer:2.9.2 install
      - name: Run PHPUnit tests
        run: docker run --rm -v $GITHUB_WORKSPACE:/app -w /app php:8.5 ./vendor/bin/phpunit ./tests
      - name: Run PHP-CS-Fixer
        run: docker run --rm -v $GITHUB_WORKSPACE:/app -w /app php:8.5 ./vendor/bin/php-cs-fixer check ./src
